<ul>
  <% @products.each do |product| %>
    <li>
      <a href="<%= edit_product_path(product) %>">
        <%= product.name %>
      </a>
      <br/>
      <%= product.description %>
      <br/>
      <%= product.weight %>
    </li>
  <% end %>
</ul>
